@import "mixin";
@import "dashboard";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.admin-container {
  @include grid(1fr 4fr, 2rem);
  height: 100vh;
  background-color: rgb(238, 238, 238);

  > aside {
    width: 100%;
    background-color: rgb(5, 8, 72);
    color: white;
    padding: 1rem;
    z-index: 10;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    h2 {
      margin-left: 1rem;
    }

    > ul {
      margin: 2rem 1rem;
      @include flex(column, unset, unset, 0.5rem);
      list-style: none;

      > li {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        @include flex(row, unset);
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }

      li.active {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
